<a href="https://colab.research.google.com/github/JustinCruz4133/OOP-58001/blob/main/Concepts_in_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Class Constructor
class Car:
  pass

In [3]:
#Create a class

class MyNumber:
  x = 5

num1 = MyNumber()
print(num1.x)

5

In [8]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

person = Person("Justin", 19)
print(person.name)
print(person.age)

Justin
19

In [9]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myFunction(self):
    print("Hello, my name is", self.name)

person = Person("Justin", 19)

person.myFunction()

Hello, my name is Justin

In [11]:
#Modify the Object Properties

person.name = "Marco"
print(person.name)
person.myFunction()

Marco
Hello, my name is Marco

In [ ]:
#Deletion of Object Properties

del person.age
person.myFunction()
print(person.age)

In [12]:
#Compute for the area of Square

class Shapes:
  def __init__(self, side):   #initial function to name the attributes
    self.side = side

  def area(self):             #method/formula to compute for the area of a square
    return self.side*self.side

  def display(self):          #method to display the area
    print("The area of the square is", self.area())

square = Shapes(4)
square.display()

The area of the square is 16

In [ ]:
#Create a Python program with the following attributes:
# Student as class name
# Fullname, Student Number, and School as attribute names
# Construct a method to display the values of attributes
# Use student as obj

In [14]:
class Student:
  def __init__(self, f_name, school, s_num):
    self.f_name = f_name
    self.school = school
    self.s_num = s_num

  def display(self):
    print("My name is", self.f_name)
    print("I study at", self.school)
    print("My student number is", self.s_num)

student = Student("Justin Diesta Cruz", "Adamson University", 202211876)
student.display()

My name is Justin Diesta Cruz
I study at Adamson University
My student number is 202211876