<a href="https://colab.research.google.com/github/JustinCruz4133/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [ ]:
if 5>2:
  print("5 is greater than 2")

Python Comment

In [ ]:
#This is a comment
print("Hello, world")

Python Variable

In [ ]:
x = 1

#single variable with multiple values
array = [1, 2, 3]
print(array)

#multiple variables with single value
a = b = c = "Maria"
print(a)
print(b)
print(c)

Casting

In [ ]:
n = int(4)
print(n)

Type Function

In [ ]:
c = "sally"
d = 5.6

print(type(c))
print(type(d))

"Double quotes" or 'Single quotes'

In [ ]:
y = "John"
y = 'John'

print(y)

Case Sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

print(a)
print(A)

Multiple Variables

In [ ]:
x, y, z = "one", "two", "three"

print(x)
print(y)
print(z)

One Value to Multiple Variables

In [ ]:
x = y = z = "four"

print(x)
print(y)
print(z)

Output Variables

In [ ]:
x = "enjoying"
print("Python programming is " + x)

#Other way:
x = "Python is "
y = "enjoying"
z = x + y

print(z)

Arithmetic Operations

In [ ]:
x = 5
y = 3

print(x + y)

x = 5
y = 3
sum = x + y

print(sum)

Assignment Operators

In [ ]:
a, b, c = 0, -1, 6
c %= 3

print(c)

Comparison Operators & Logical operators

In [ ]:
a, b, c = 0, -1, 6
a > b and c > b
#will display True

Identity Operators

In [ ]:
a, b, c = 0, -1, 5
a is c
#will display False