<a href="https://colab.research.google.com/github/JustinCruz4133/OOP-58001/blob/main/Lists%2C_Tuples%2C_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [ ]:
class shapes:
  def __init__(self, length, width):
    self.length = length
    self.width = width
  
  def area(self):
    return self.length * self.width

rectangle = shapes(10, 5)

rectangle.area()

In [ ]:
#Create your own function that will show your full name and ag
#Use Person as class name

class person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def info(self):
    return self.name + self.age

user = person("Justin Cruz:", " 19 Years old")

user.info()

List

In [19]:
pi = 3.14159
varList = ["abc", 1, "def", 2]
print(varList[0])

varList.append("ghl")
print(varList)
varList.remove(2)
print(varList)

varList.insert(3, 3)
print(varList)

abc
['abc', 1, 'def', 2, 'ghl']
['abc', 1, 'def', 'ghl']
['abc', 1, 'def', 3, 'ghl']

Dictionaries

In [21]:
students = {
    1: "ana",
    2: "billy",
    3: "maria",
    4: "joy",
    3: "bessy"
}
print(students)

{1: 'ana', 2: 'billy', 3: 'bessy', 4: 'joy'}